<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liujilu.mapper.SysUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.liujilu.model.SysUser">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="email" property="email" />
		<result column="number" property="number" />
		<result column="password" property="password" />
		<result column="create_time" property="createTime" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
